html {
	font-family: "Arial";
	font-size: 20px;
}

h2, p, li {
	margin-right: 30%;
	padding: 0px 20px 0px 20px;
}

img {
	vertical-align: middle;
	padding-bottom: 200px;
}

div.image img {
	padding: 0px 20px 20px 20px;
	width: 30%;
	float: right;
}

@media only screen and (max-width: 1000px) {
	html {
		font-size: 16px;
	}
	h2, p, li {
		margin-right: 0%;
	}
	div.image img {
		width: 60%;
	}
}

div, footer {
	clear: both;
}

.centre {
	margin-right: 0%;
	font-size: 1.5em;
	text-align: center;
}

.small {
	color: gray;
	font-size: 14px;
}

img.icon {
	width: 1.1em;
	height: 1.1em;
}

a.footer-link {
	color: gray;
}

body {
	background-color: #ffaa55:
}

