html {
	font-family: "Arial";
	font-size: 19px;
}

h2, p {
	padding: 0px 20px 0px 20px;
}


div.image img {
	padding: 0px 20px 0px 20px;
	width: 30%;
	float: right;
}

div, footer {
	clear: both;
}

.centre {
	font-size: 24px;
	text-align: center;
}

.small {
	color: gray;
	font-size: 14px;
}

body {
	background-color: #ffaa55:
}

