html {
	font-family: "Arial";
	font-size: 20px;
}

h2, p {
	padding: 0px 20px 0px 20px;
}

img {
	vertical-align: middle;
}

div.image img {
	padding: 0px 20px 0px 20px;
	width: 30%;
	float: right;
}

div, footer {
	clear: both;
}

.centre {
	font-size: 24px;
	text-align: center;
}

.small {
	color: gray;
	font-size: 14px;
}

img.icon {
	width: 1.1em;
	height: 1.1em;
}

a.footer-link {
	color: gray;
}

body {
	background-color: #ffaa55:
}

