@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

html {
	font-family: "Space Mono", "Courier New", Courier, monospace;
	font-size: 16px;
}

h2, h3, p, li {
	margin-right: 30%;
	padding: 0px 40px 0px 20px;
}

img {
	vertical-align: middle;
	padding-bottom: 200px;
}

div.image img {
	padding: 0px 20px 20px 20px;
	width: 28%;
	float: right;
}

div.rect {
	background: linear-gradient(90deg, #dddddd 70%, #ffffff 0%);
}

@media only screen and (max-width: 1000px) {
	html {
		font-size: 14px;
	}

	h2, h3, p, li {
		margin-right: 0%;
	}

	div.image img {
		display: block;
		float: none;
		padding: 20px;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}

	div.rect {
		background: #dddddd;
	}
}

div, footer {
	clear: both;
}

.centre {
	margin-right: 0%;
	font-size: 1.5em;
	text-align: center;
}

.small {
	color: gray;
	font-size: 14px;
}

img.icon {
	padding: 10px;
	width: 1.1em;
	height: 1.1em;
}

a {
	text-decoration: none;
}

a, a:visited, a:hover, a:active {
	color: #0000ee;
}

a.footer-link {
	text-decoration: underline;
	color: gray;
}

body {
	padding-left: 10px;
	padding-right: 10px;
}

